*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

header,
nav,
aside,
footer {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  border-radius: none;
  background: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 300;
}

.title {
  width: 100%;
  height: 5.5rem;
  margin-bottom: 4.875rem;
}

.title_left {
  -webkit-transform: translateX(40%);
  -ms-transform: translateX(40%);
  transform: translateX(40%);
}

.title_left h2 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 40%;
}

.title_right {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}

.title_center {
  width: 64%;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  margin-left: auto;
  margin-right: auto;
}

.title_center h2 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title__wrap {
  width: 100%;
  height: 100%;
  border-radius: 2.75rem;
}

.title__wrap_web-design {
  background: -o-linear-gradient(326.33deg, #85DBE6 12.19%, #48BADE 85.47%);
  background: linear-gradient(123.67deg, #85DBE6 12.19%, #48BADE 85.47%);
  -webkit-box-shadow: 0rem 0rem 2.5rem rgba(42,187,250,0.19);
  box-shadow: 0rem 0rem 2.5rem rgba(42,187,250,0.19);
}

.title__wrap_web-developer {
  background: -o-linear-gradient(29.43deg, #2AD5B6 -4.06%, #4EBBF8 98.08%);
  background: linear-gradient(60.57deg, #2AD5B6 -4.06%, #4EBBF8 98.08%);
  -webkit-box-shadow: 0rem 0.25rem 1.875rem rgba(58,201,212,0.25);
  box-shadow: 0rem 0.25rem 1.875rem rgba(58,201,212,0.25);
}

.title__wrap_graphic-designer {
  background: -o-linear-gradient(231.43deg, #E452EF 7.35%, #C03DEE 85.09%);
  background: linear-gradient(218.57deg, #E452EF 7.35%, #C03DEE 85.09%);
  -webkit-box-shadow: 0rem 0.25rem 1.875rem rgba(202,67,239,0.4);
  box-shadow: 0rem 0.25rem 1.875rem rgba(202,67,239,0.4);
}

.title__wrap_marketing-targeting {
  background: -o-linear-gradient(315.66deg, #F969B6 13.21%, #CB42FB 103.43%);
  background: linear-gradient(134.34deg, #F969B6 13.21%, #CB42FB 103.43%);
  -webkit-box-shadow: 0rem 0.25rem 1.875rem rgba(219,56,193,0.41);
  box-shadow: 0rem 0.25rem 1.875rem rgba(219,56,193,0.41);
}

.title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 83%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  -webkit-transform: translateX(-48.2%);
  -ms-transform: translateX(-48.2%);
  transform: translateX(-48.2%);
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 0;
  color: #FFFFFF;
}

.title__text_mod {
  -webkit-transform: translateX(48.2%);
  -ms-transform: translateX(48.2%);
  transform: translateX(48.2%);
}

.title__text_no-mod {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.descr {
  width: 50%;
  margin-bottom: 3.1rem;
}

.descr_ml {
  margin-left: 17%;
}

.descr_right {
  text-align: right;
}

.descr__wrap {
  width: 100%;
}

.descr__wrap_mb {
  margin-bottom: 1.875rem;
}

.descr__text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: 0.025rem;
  color: #000;
}

.descr__text_white {
  color: #fff;
}

.descr__text_min {
  font-size: 1.1rem;
}

.programs {
  min-width: 15.625rem;
  height: 3.125rem;
  padding: 0 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.6875rem;
  margin-bottom: 4.75rem;
}

.programs_ml {
  margin-left: 17%;
}

.programs_web-design {
  background: -o-linear-gradient(219.68deg, #fff 42.23%, #EDF7F9 91.06%);
  background: linear-gradient(230.32deg, #fff 42.23%, #EDF7F9 91.06%);
  -webkit-box-shadow: 0rem 0.25rem 0.9375rem rgba(0,0,0,0.1);
  box-shadow: 0rem 0.25rem 0.9375rem rgba(0,0,0,0.1);
}

.programs_web-developer {
  background: -o-linear-gradient(261.53deg, #307DB3 -23.38%, #27588E 109.87%);
  background: linear-gradient(188.47deg, #307DB3 -23.38%, #27588E 109.87%);
  -webkit-box-shadow: 0rem 0.25rem 1.5625rem rgba(0,0,0,0.25);
  box-shadow: 0rem 0.25rem 1.5625rem rgba(0,0,0,0.25);
}

.programs_web-developer span {
  color: #fff !important;
}

.programs_graphic-designer {
  background: -o-linear-gradient(242.62deg, #fff 3.89%, #F3F3F3 96.14%);
  background: linear-gradient(207.38deg, #fff 3.89%, #F3F3F3 96.14%);
  -webkit-box-shadow: 0rem 0.25rem 1.5625rem rgba(0,0,0,0.18);
  box-shadow: 0rem 0.25rem 1.5625rem rgba(0,0,0,0.18);
}

.programs__title {
  margin-right: 2.25rem;
}

.programs__wrap-icons span {
  margin-right: 1.3125rem;
}

.programs__wrap-icons span:last-of-type {
  margin: 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 19.375rem;
  height: 5rem;
  border-radius: 46.5px;
  background: -o-linear-gradient(175.34deg, #56D3E3 10.4%, #54BEE3 48.92%, #518BE4 88.09%);
  background: linear-gradient(274.66deg, #56D3E3 10.4%, #54BEE3 48.92%, #518BE4 88.09%);
  position: relative;
}

.btn_web-developer {
  background: -o-linear-gradient(349.78deg, #2ED2BE 10.61%, #37CBCF 47.7%, #4DBCF6 85.58%);
  background: linear-gradient(100.22deg, #2ED2BE 10.61%, #37CBCF 47.7%, #4DBCF6 85.58%);
}

.btn_graphic-designer {
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 20px rgba(208,57,206,0.42);
  box-shadow: 0px 4px 20px rgba(208,57,206,0.42);
  background: -o-linear-gradient(356.63deg, #D22EB8 10.14%, #CF38CC 43.84%, #CA4DF6 81.93%);
  background: linear-gradient(93.37deg, #D22EB8 10.14%, #CF38CC 43.84%, #CA4DF6 81.93%);
}

.btn_marketing-targeting {
  background: -o-linear-gradient(356.63deg, #D22EB8 10.14%, #CF38CC 43.84%, #CA4DF6 81.93%);
  background: linear-gradient(93.37deg, #D22EB8 10.14%, #CF38CC 43.84%, #CA4DF6 81.93%);
}

.btn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 18.75rem;
  height: 4.375rem;
  background: #fff;
  border-radius: inherit;
}

.btn__content_web-developer {
  background: -o-linear-gradient(1.02deg, #23497E 5.9%, #255D8E 87.41%);
  background: linear-gradient(88.98deg, #23497E 5.9%, #255D8E 87.41%);
}

.btn__content_web-developer span {
  color: #fff !important;
}

.btn__content_graphic-designer {
  -webkit-box-shadow: inset -0.1rem -0.1rem 1rem rgba(208,57,206,0.42),inset 0.1rem 0.1rem 1rem rgba(208,57,206,0.42);
  box-shadow: inset -0.1rem -0.1rem 1rem rgba(208,57,206,0.42),inset 0.1rem 0.1rem 1rem rgba(208,57,206,0.42);
}

.btn__content_marketing-targeting {
  background: -o-linear-gradient(357.86deg, #A035C8 4.03%, #9C2FC2 91.73%);
  background: linear-gradient(92.14deg, #A035C8 4.03%, #9C2FC2 91.73%);
}

.btn__content_marketing-targeting span {
  color: #fff !important;
}

.btn__content span:first-of-type {
  margin-right: 2.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  color: #000;
}

.btn__content span:last-of-type {
  font-size: 2rem;
  color: #000;
}

html {
  font-family: 'San Francisco', sans-serif;
  font-weight: 300;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 83%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.section {
  width: 100%;
  min-height: 53.125rem !important;
  position: relative;
}

.section__wrap-img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.section__img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-height: 100%;
}

.section__img-bg_mod {
  left: auto;
  right: 0;
}

.section__img-border {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 48.5%;
}

.section__img-border_t-r {
  bottom: auto;
  top: 0;
  width: auto;
  height: 32.91%;
}

.section__img-border_t-l {
  right: auto;
  left: 0;
  bottom: auto;
  top: 0;
  height: 50.1%;
}

.section__img-border_b-l {
  right: auto;
  left: 0;
  height: 31%;
}

.section__img-border_b-r {
  height: 39.3%;
}

.section__img-people {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-3%, 17%);
  -ms-transform: translate(-3%, 17%);
  transform: translate(-3%, 17%);
}

.section__elipse-1 {
  position: absolute;
  top: 12%;
  left: 18%;
}

.section__elipse-2 {
  position: absolute;
  bottom: 20%;
  right: 35%;
}

.section__poligon {
  position: absolute;
  top: 35%;
  left: 0;
}

.section__el-1 {
  position: absolute;
  top: 35%;
  left: 0;
}

.section__el-2 {
  position: absolute;
  bottom: 13%;
  right: 0;
}

.section__body {
  position: relative;
  width: 100%;
  height: auto;
  padding: 6.375rem 0;
  z-index: 1;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: auto;
}

.section__content_left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section__content_pl {
  padding-left: 6rem;
}

.section__text-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50.875rem;
  height: 1.5625rem;
  position: absolute;
  bottom: 3.1875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section__text-bottom:after {
  content: '';
  position: absolute;
  bottom: -.9rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 26rem;
  height: .05rem;
  background: #fff;
}

.section__text-bottom_web-design {
  background: #FFFFFF;
  -webkit-box-shadow: 0rem 0.25rem 1.25rem rgba(0,0,0,0.14);
  box-shadow: 0rem 0.25rem 1.25rem rgba(0,0,0,0.14);
  border-radius: 0.25rem;
}

.section__text-bottom_web-design:after {
  content: '';
  position: absolute;
  bottom: -.9rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 25rem;
  height: .05rem;
  background: #000;
}

.section__text-bottom_web-developer {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section__text-bottom_web-developer:after {
  content: '';
  position: absolute;
  bottom: -.9rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 13.8125rem;
  height: .05rem;
  background: #fff;
}

.section__text-bottom_graphic-designer {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section__text-bottom_graphic-designer:after {
  content: '';
  position: absolute;
  bottom: -.9rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 11.875rem;
  height: .05rem;
  background: #000;
}

.section__text {
  font-style: normal;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.3;
  color: #000;
  letter-spacing: 0.05rem;
}

.section__text_white {
  color: #fff;
}

.section_web-design {
  background: -o-linear-gradient(244.05deg, #fff 39.27%, #F3FDFF 108.68%);
  background: linear-gradient(205.95deg, #fff 39.27%, #F3FDFF 108.68%);
}

.section_web-developer {
  background: -o-linear-gradient(232deg, #2FA9CF 8.48%, #22457A 90.37%);
  background: linear-gradient(218deg, #2FA9CF 8.48%, #22457A 90.37%);
}

.section_graphic-designer {
  background: -o-linear-gradient(271.34deg, #fff 3.25%, #F2EDF7 102.88%);
  background: linear-gradient(178.66deg, #fff 3.25%, #F2EDF7 102.88%);
}

.section_marketing-targeting {
  background: -o-linear-gradient(299.32deg, #AF4CDE 14.93%, #9B2EC1 89.35%);
  background: linear-gradient(150.68deg, #AF4CDE 14.93%, #9B2EC1 89.35%);
}

.footer {
  width: 100%;
  height: 8.5rem;
  background: #601A79;
  position: relative;
}

.footer__wrap-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__img-t {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer__img-b {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer__img-r {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.footer__img-l {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.footer__body {
  padding: 3.1875rem 0;
  text-align: center;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.5;
  letter-spacing: 0.135rem;
  color: #fff;
}

.footer__social {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(calc(-100% + 3.25rem), -50%);
  -ms-transform: translate(calc(-100% + 3.25rem), -50%);
  transform: translate(calc(-100% + 3.25rem), -50%);
}

.social__link {
  color: #fff;
  font-size: 1rem;
}

.social__link_mr {
  margin-right: 3.25rem;
}

.modal-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120 !important;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
}

.modal-link.active {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  opacity: 1;
  visibility: visible;
}

.modal-link__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30rem;
  height: 15rem;
  border-radius: 2rem;
  background: #fff;
  position: relative;
}

.modal-link__content p {
  font-size: 1.3rem;
}

.modal-link__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  -webkit-box-shadow: 0 0 1rem 0 #ccc;
  box-shadow: 0 0 1rem 0 #ccc;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.modal-link__close span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 60%;
  height: .05em;
  background: #000;
}

.modal-link__close span:first-of-type {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-link__close:hover {
  -webkit-box-shadow: 0 0 2rem 0 #ccc;
  box-shadow: 0 0 2rem 0 #ccc;
}

.modal-link__close:hover span {
  background: #666;
}